<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" dest="out">
  <Properties>
    <Property name="logs_dir">logs</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <JsonTemplateLayout eventTemplateUri="classpath:log4j2.template.json"/>
    </Console>
    <RollingFile name="File">
      <filename>${sys:log_dir:-${logs_dir}}/geonetwork.log</filename>
      <filePattern>${sys:log_dir:-${logs_dir}}/geonetwork.log-%i.log</filePattern>
      <PatternLayout pattern="%date{ISO8601} %-5level [%logger] - %message%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="3" fileIndex="min"/>
    </RollingFile>
    <Routing name="Harvester">
      <Routes pattern="$${ctx:logfile}">
        <!-- value dynamically determines the name of the log file. -->
        <Route>
          <File name="harvester-${ctx:harvester}" fileName="${sys:log_dir:-${logs_dir}}/${ctx:logfile:-harvester_default.log}">
            <PatternLayout>
              <pattern>%date{ISO8601}{${ctx:timeZone}} %-5level [%logger] - %message%n</pattern>
            </PatternLayout>
          </File>
        </Route>
      </Routes>
    </Routing>
  </Appenders>
  <Loggers>
    <!-- Geonetwork module (and submodule) logging -->
    <Logger name="geonetwork" level="${env:LOG_GEONETWORK:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="geonetwork.accessmanager" level="${env:LOG_GEONETWORK_ACCESSMANAGER:-error}"/>
    <Logger name="geonetwork.atom" level="${env:LOG_GEONETWORK_ATOM:-error}"/>
    <Logger name="geonetwork.backup" level="${env:LOG_GEONETWORK_BACKUP:-error}"/>
    <Logger name="geonetwork.camel-harvester" level="${env:LOG_GEONETWORK_CAMEL-HARVESTER:-error}"/>
    <Logger name="geonetwork.cors" level="${env:LOG_GEONETWORK_CORS:-error}"/>
    <Logger name="geonetwork.tasks" level="${env:LOG_GEONETWORK_TASKS:-error}"/>
    <Logger name="geonetwork.csw" level="${env:LOG_GEONETWORK_CSW:-error}"/>
    <Logger name="geonetwork.csw.search" level="${env:LOG_GEONETWORK_CSW_SEARCH:-error}"/>
    <Logger name="geonetwork.csw.harvest" level="${env:LOG_GEONETWORK_CSW_HARVEST:-error}"/>
    <Logger name="geonetwork.data.directory" level="${env:LOG_GEONETWORK_DATA_DIRECTORY:-error}"/>
    <Logger name="geonetwork.database" level="${env:LOG_GEONETWORK_DATABASE:-error}"/>
    <Logger name="geonetwork.databasemigration" level="${env:LOG_GEONETWORK_DATABASEMIGRATION:-error}"/>
    <Logger name="geonetwork.datamanager" level="${env:LOG_GEONETWORK_DATAMANAGER:-error}"/>
    <Logger name="geonetwork.domain" level="${env:LOG_GEONETWORK_DOMAIN:-error}"/>
    <Logger name="geonetwork.editor" level="${env:LOG_GEONETWORK_EDITOR:-error}"/>
    <Logger name="geonetwork.editorexpandelement" level="${env:LOG_GEONETWORK_EDITOREXPANDELEMENT:-error}"/>
    <Logger name="geonetwork.editorfillelement" level="${env:LOG_GEONETWORK_EDITORFILLELEMENT:-error}"/>
    <Logger name="geonetwork.encryptor" level="${env:LOG_GEONETWORK_ENCRYPTOR:-error}"/>
    <Logger name="geonetwork.formatter" level="${env:LOG_GEONETWORK_FORMATTER:-error}"/>
    <Logger name="geonetwork.geoserver.publisher" level="${env:LOG_GEONETWORK_GEOSERVER_PUBLISHER:-error}"/>
    <Logger name="geonetwork.geoserver.rest" level="${env:LOG_GEONETWORK_GEOSERVER_REST:-error}"/>
    <Logger name="geonetwork.harvest.wfs.features" level="${env:LOG_GEONETWORK_HARVEST_WFS_FEATURES:-error}"/>
    <Logger name="geonetwork.harvester" level="${env:LOG_GEONETWORK_HARVESTER:-error}">
      <AppenderRef ref="Harvester"/>
    </Logger>
    <Logger name="geonetwork.harvest-man" level="${env:LOG_GEONETWORK_HARVEST-MAN:-error}"/>
    <Logger name="geonetwork.index" level="${env:LOG_GEONETWORK_INDEX:-error}"/>
    <Logger name="geonetwork.ldap" level="${env:LOG_GEONETWORK_LDAP:-error}"/>
    <Logger name="geonetwork.lucene" level="${env:LOG_GEONETWORK_LUCENE:-error}"/>
    <Logger name="geonetwork.mef" level="${env:LOG_GEONETWORK_MEF:-error}"/>
    <Logger name="geonetwork.resources" level="${env:LOG_GEONETWORK_RESOURCES:-error}"/>
    <Logger name="geonetwork.schemamanager" level="${env:LOG_GEONETWORK_SCHEMAMANAGER:-error}"/>
    <Logger name="geonetwork.search" level="${env:LOG_GEONETWORK_SEARCH:-error}"/>
    <Logger name="geonetwork.spatineo" level="${env:LOG_GEONETWORK_SPATINEO:-error}"/>
    <Logger name="geonetwork.sru" level="${env:LOG_GEONETWORK_SRU:-error}"/>
    <Logger name="geonetwork.sru.search" level="${env:LOG_GEONETWORK_SRU_SEARCH:-error}"/>
    <Logger name="geonetwork.thesaurus" level="${env:LOG_GEONETWORK_THESAURUS:-error}"/>
    <Logger name="geonetwork.thesaurus-man" level="${env:LOG_GEONETWORK_THESAURUS-MAN:-error}"/>
    <Logger name="geonetwork.userwatchlist" level="${env:LOG_GEONETWORK_USERWATCHLIST:-error}"/>
    <Logger name="geonetwork.wro4j" level="${env:LOG_GEONETWORK_WRO4J:-error}"/>
    <Logger name="geonetwork.doi" level="${env:LOG_GEONETWORK_DOI:-error}"/>

    <!--  Jeeves module and submodule logger configuration -->
    <Logger name="geonetwork.engine" level="${env:LOG_GEONETWORK_ENGINE:-error}"/>
    <Logger name="geonetwork.monitor" level="${env:LOG_GEONETWORK_MONITOR:-error}"/>
    <Logger name="geonetwork.resources" level="${env:LOG_GEONETWORK_RESOURCES:-error}"/>
    <Logger name="geonetwork.security" level="${env:LOG_GEONETWORK_SECURITY:-error}"/>
    <Logger name="geonetwork.transformerFactory" level="${env:LOG_GEONETWORK_TRANSFORMERFACTORY:-error}"/>
    <Logger name="geonetwork.xlinkprocessor" level="${env:LOG_GEONETWORK_XLINKPROCESSOR:-error}"/>
    <Logger name="geonetwork.xmlresolver" level="${env:LOG_GEONETWORK_XMLRESOLVER:-error}"/>


    <!--  Spring logging configuration -->
    <Logger name="org.springframework" level="${env:LOG_ORG_SPRINGFRAMEWORK:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.springframework.beans" level="${env:LOG_ORG_SPRINGFRAMEWORK_BEANS:-error}"/>
    <Logger name="org.springframework.security" level="${env:LOG_ORG_SPRINGFRAMEWORK_SECURITY:-error}"/>
    <Logger name="org.springframework.security.ldap" level="${env:LOG_ORG_SPRINGFRAMEWORK_SECURITY_LDAP:-error}"/>
    <Logger name="org.springframework.aop.framework.CglibAopProxy" level="${env:LOG_ORG_SPRINGFRAMEWORK_AOP_FRAMEWORK_CGLIBAOPPROXY:-error}"/>

    <Logger name="com.k_int" level="${env:LOG_COM_K_INT:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!--  JZKIT logging configuration -->
    <Logger name="org.jzkit" level="${env:LOG_ORG_JZKIT:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.jzkit.a2j" level="${env:LOG_ORG_JZKIT_A2J:-error}"/>
    <Logger name="org.jzkit.search.impl.LRUCache" level="${env:LOG_ORG_JZKIT_SEARCH_IMPL_LRUCACHE:-error}"/>

    <Logger name="ro.isdc.wro.http" level="${env:LOG_RO_ISDC_WRO_HTTP:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!-- Check domain/src/main/resources/config-spring-geonetwork.xml show_sql properties. -->
    <Logger name="org.hibernate.SQL" level="${env:LOG_ORG_HIBERNATE_SQL:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.hibernate.type" level="${env:LOG_ORG_HIBERNATE_TYPE:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.hibernate.tool.hbm2ddl" level="${env:LOG_ORG_HIBERNATE_TOOL_HBM2DDL:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.xhtmlrenderer" level="${env:LOG_ORG_XHTMLRENDERER:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <Logger name="org.apache.camel" level="${env:LOG_ORG_APACHE_CAMEL:-error}" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!-- Turn off logging except when explicitly declared above -->
    <Root level="off">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
