<div class="row" data-ng-if="recordsWithDetails && recordsWithDetails.length > 0">
  <div class="col-md-12">
    <span>{{recordsWithDetails.length}}</span>
    <span data-translate="">recordsAssociatedToVirtualCatalog</span>

    <div
      data-gn-records-table="recordsWithDetails"
      data-agg="recordsWithDetails"
      labels="{{::viewConfig.collectionTableConfig.labels}}"
      columns="{{::viewConfig.collectionTableConfig.columns}}"
    ></div>

    <a
      class="btn btn-primary btn-block"
      data-ng-if="portalExists"
      href="../../{{record.uuid}}"
    >
      <i class="fa fa-fw fa-search"></i>
      <span data-translate="">browseDataSpace</span>
    </a>
  </div>
</div>
